* {
    box-sizing: border-box;
}

body {
    margin: 24px;
    padding: 30px;
    background-color: lightgray;

}
h1 {
    text-align: center;
}

.horizontal-masonry-gallery {
    display: flex;flex-wrap: wrap;gap: 24px;}
    
    
    .horizontal-masonry-gallery img {
    height: 250px;flex: 1;object-fit: cover;}



#navbar {
    
    padding: 24px;
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}