* {
    box-sizing: border-box;
}

body {
    margin: 24px;
    padding: 30px;
    background-color: lightgray;

}
h1 {
    text-align: center;
}

#layout {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;

}
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 30px;
}
    
.basic-grid-gallery img {
    width: 100%;
}

#navbar {
    background-color: lightsalmon;
    padding: 24px;
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}