* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar-1 {
    background-color: rgb(54, 1, 54);
    display: flex;
    justify-content: space-between;
    

}
#navbar-1 a {
    color: white;
    padding: 50px;
    text-decoration: none;
}
h2 {
    color: white;
    font-size: 30px;
    padding-top: 20px;
    
}
#navbar-2 {
    background-color: black;
    

}
h3 {
    color: white;
}
#navbar-2 a {
    text-decoration: none;
    color: white;
    tex 
}