* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, skyblue, lightgreen);
    display: flex;
    justify-content: space-between;

}
#navbar a {
    color: white;
    padding: 30px;
    text-decoration: none;
}
h2 {
    color: white;
}

#hero-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    justify-content: flex-start;
    align-items: center;

}
.spacer {
    height: 100vh;
}
img {
    width: 2000px;
}