/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    border: solid black;
    width: 700px;
    background-color: orange;
}    

#left-side,
#right-side {
display: inline-block;
}

#id-and-expiration div {
    display: inline-block;
    padding-left: 6%;
}
span {
    color: red;
}

#small-pic, #data-fields {
    display: inline-block;
}
#data-left, #data-right {
    display: inline-block;
}
#signature {
    text-align: center;
}
#donor, 
#real-id {
    display: inline-block;
}
h1 {
    
    color: navy;
    
}
h4 {
    background-color: navy;
    margin: 5%;
    color: white;
    text-align: center;
    display: block;
}
#address {
    margin: 5%;
}
#small-pic {
    width: ;
}
