* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
   
}
#grid-layout {
    display: grid;
    grid-template-columns: 1fr 250%;
    grid-template-areas: "content sidebar";
}
#main-content {
    background-color: aquamarine;
    grid-area: "content";
}
#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar-content h2 {
    background-color: darkgrey;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}
#sidebar-content ul {
    background-color: #EFEFEF;
}
